Playbooks/JSChallenge-RequestUri-AzureWAF.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "path": "/subscribe"
                }
            }
        },
        "actions": {
            "Check_if_AFD_WAF": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "contains": [
                                "@variables('ResourceID2')",
                                "profiles"
                            ]
                        }
                    ]
                },
                "actions": {
                    "For_each_WAF_Rule": {
                        "type": "Foreach",
                        "foreach": "@body('Parse_Front_Door')?['value']",
                        "actions": {
                            "Add_Custom_Rules_to_Variable": {
                                "type": "Foreach",
                                "foreach": "@body('Parse_WAF_Policy_Rules1')?['properties']?['customRules']?['rules']",
                                "actions": {
                                    "Check_if_it_is_JSChallenge_Rule": {
                                        "type": "If",
                                        "expression": {
                                            "and": [
                                                {
                                                    "equals": [
                                                        "@items('Add_Custom_Rules_to_Variable')?['name']",
                                                        "JSChallenge"
                                                    ]
                                                }
                                            ]
                                        },
                                        "actions": {
                                            "JSChallenge_Rule._Parse_conditions": {
                                                "type": "Foreach",
                                                "foreach": "@items('Add_Custom_Rules_to_Variable')['matchConditions']",
                                                "actions": {
                                                    "Get_Array_of_MatchValues": {
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "MatchValue",
                                                            "value": "@items('JSChallenge_Rule._Parse_conditions')?['matchValue']"
                                                        }
                                                    },
                                                    "For_each_AnomalousRequestUri_to_add": {
                                                        "type": "Foreach",
                                                        "foreach": "@variables('AnomalousRequestUri')",
                                                        "actions": {
                                                            "Check_if_AnomalousRequestUri_in_MatchValue_Array": {
                                                                "type": "If",
                                                                "expression": {
                                                                    "and": [
                                                                        {
                                                                            "contains": [
                                                                                "@variables('MatchValue')",
                                                                                "@items('For_each_AnomalousRequestUri_to_add')"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                "actions": {},
                                                                "else": {
                                                                    "actions": {
                                                                        "Add_AnomalousRequestUri_to_MatchValue": {
                                                                            "type": "AppendToArrayVariable",
                                                                            "inputs": {
                                                                                "name": "MatchValue",
                                                                                "value": "@items('For_each_AnomalousRequestUri_to_add')"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "runAfter": {
                                                            "Get_Array_of_MatchValues": [
                                                                "Succeeded"
                                                            ]
                                                        }
                                                    },
                                                    "Add_Modified_Rule_to_Array": {
                                                        "type": "AppendToArrayVariable",
                                                        "inputs": {
                                                            "name": "Rules",
                                                            "value": {
                                                                "action": "@{items('Add_Custom_Rules_to_Variable')?['action']}",
                                                                "enabledState": "@{items('Add_Custom_Rules_to_Variable')?['enabledState']}",
                                                                "matchConditions": [
                                                                    {
                                                                        "matchValue": "@variables('MatchValue')",
                                                                        "matchVariable": "@{items('JSChallenge_Rule._Parse_conditions')?['matchVariable']}",
                                                                        "negateCondition": "@items('JSChallenge_Rule._Parse_conditions')?['negateCondition']",
                                                                        "operator": "@{items('JSChallenge_Rule._Parse_conditions')?['operator']}",
                                                                        "transforms": "@items('JSChallenge_Rule._Parse_conditions')?['transforms']"
                                                                    }
                                                                ],
                                                                "name": "@{items('Add_Custom_Rules_to_Variable')?['name']}",
                                                                "priority": "@items('Add_Custom_Rules_to_Variable')?['priority']",
                                                                "rateLimitDurationInMinutes": "@items('Add_Custom_Rules_to_Variable')?['rateLimitDurationInMinutes']",
                                                                "rateLimitThreshold": "@items('Add_Custom_Rules_to_Variable')?['rateLimitThreshold']",
                                                                "ruleType": "@{items('Add_Custom_Rules_to_Variable')?['ruleType']}"
                                                            }
                                                        },
                                                        "runAfter": {
                                                            "For_each_AnomalousRequestUri_to_add": [
                                                                "SUCCEEDED"
                                                            ]
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "else": {
                                            "actions": {
                                                "Not_JSChallenge._Pass_rule_as_is": {
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "Rules",
                                                        "value": {
                                                            "action": "@{items('Add_Custom_Rules_to_Variable')?['action']}",
                                                            "enabledState": "@{items('Add_Custom_Rules_to_Variable')?['enabledState']}",
                                                            "matchConditions": "@items('Add_Custom_Rules_to_Variable')?['matchConditions']",
                                                            "name": "@{items('Add_Custom_Rules_to_Variable')?['name']}",
                                                            "priority": "@items('Add_Custom_Rules_to_Variable')?['priority']",
                                                            "rateLimitDurationInMinutes": "@items('Add_Custom_Rules_to_Variable')?['rateLimitDurationInMinutes']",
                                                            "rateLimitThreshold": "@items('Add_Custom_Rules_to_Variable')?['rateLimitThreshold']",
                                                            "ruleType": "@{items('Add_Custom_Rules_to_Variable')?['ruleType']}"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Parse_WAF_Policy_Rules1": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Check_for_JSChallenge_Rule": {
                                "type": "If",
                                "description": "If original policy already contains JSChallenge rule, pass it with no modifications.\nIf original policy didn't contain JSChallenge rule, create a new one",
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@string(variables('Rules'))",
                                                "JSChallenge"
                                            ]
                                        }
                                    ]
                                },
                                "actions": {},
                                "else": {
                                    "actions": {
                                        "Add_Custom_Rule_to_Rules_Array": {
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "Rules",
                                                "value": {
                                                    "action": "JSChallenge",
                                                    "enabledState": "Enabled",
                                                    "matchConditions": [
                                                        {
                                                            "matchValue": [
                                                                "@{variables('AnomalousRequestUri')}"
                                                            ],
                                                            "matchVariable": "RequestUri",
                                                            "negateCondition": false,
                                                            "operator": "Contains",
                                                            "transforms": [
                                                                "Lowercase"
                                                            ]
                                                        }
                                                    ],
                                                    "name": "JSChallenge",
                                                    "priority": "@variables('Priority')",
                                                    "rateLimitDurationInMinutes": 1,
                                                    "rateLimitThreshold": 100,
                                                    "ruleType": "MatchRule"
                                                }
                                            },
                                            "runAfter": {
                                                "Create_Unique_Priority": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Create_Unique_Priority": {
                                            "type": "Until",
                                            "expression": "@not(contains(variables('Rules'), variables('Priority')))",
                                            "limit": {
                                                "count": 60,
                                                "timeout": "PT1H"
                                            },
                                            "actions": {
                                                "Increment_Priority": {
                                                    "type": "IncrementVariable",
                                                    "inputs": {
                                                        "name": "Priority",
                                                        "value": 10
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Add_Custom_Rules_to_Variable": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Create_JSON_Rules_Object_from_Array": {
                                "type": "Compose",
                                "inputs": "@variables('Rules')",
                                "runAfter": {
                                    "Check_for_JSChallenge_Rule": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Get_WAF_Policy_Rules1": {
                                "type": "Http",
                                "inputs": {
                                    "uri": "https://management.azure.com@{items('For_each_WAF_Rule')?['properties']?['parameters']?['wafPolicy']?['id']}?api-version=2020-11-01",
                                    "method": "GET",
                                    "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "identity": "/subscriptions/df73fe16-2740-447b-920a-1138d6c764b2/resourceGroups/CentralResources/providers/Microsoft.ManagedIdentity/userAssignedIdentities/MI-SOAR-WAF",
                                        "audience": ""
                                    }
                                }
                            },
                            "Parse_WAF_Policy_Rules1": {
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('Get_WAF_Policy_Rules1')",
                                    "schema": {
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "location": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "properties": {
                                                "properties": {
                                                    "customRules": {
                                                        "properties": {
                                                            "rules": {
                                                                "items": {
                                                                    "properties": {
                                                                        "action": {
                                                                            "type": "string"
                                                                        },
                                                                        "enabledState": {
                                                                            "type": "string"
                                                                        },
                                                                        "matchConditions": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "matchValue": {
                                                                                        "items": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "matchVariable": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "negateCondition": {
                                                                                        "type": "boolean"
                                                                                    },
                                                                                    "operator": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "selector": {},
                                                                                    "transforms": {
                                                                                        "type": "array"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "matchVariable",
                                                                                    "selector",
                                                                                    "operator",
                                                                                    "negateCondition",
                                                                                    "matchValue",
                                                                                    "transforms"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "priority": {
                                                                            "type": "integer"
                                                                        },
                                                                        "rateLimitDurationInMinutes": {
                                                                            "type": "integer"
                                                                        },
                                                                        "rateLimitThreshold": {
                                                                            "type": "integer"
                                                                        },
                                                                        "ruleType": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "enabledState",
                                                                        "priority",
                                                                        "ruleType",
                                                                        "rateLimitDurationInMinutes",
                                                                        "rateLimitThreshold",
                                                                        "matchConditions",
                                                                        "action"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "frontendEndpointLinks": {
                                                        "type": "array"
                                                    },
                                                    "managedRules": {
                                                        "properties": {
                                                            "managedRuleSets": {
                                                                "items": {
                                                                    "properties": {
                                                                        "exclusions": {
                                                                            "type": "array"
                                                                        },
                                                                        "ruleGroupOverrides": {
                                                                            "type": "array"
                                                                        },
                                                                        "ruleSetAction": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ]
                                                                        },
                                                                        "ruleSetType": {
                                                                            "type": "string"
                                                                        },
                                                                        "ruleSetVersion": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "ruleSetType",
                                                                        "ruleSetVersion",
                                                                        "ruleSetAction",
                                                                        "ruleGroupOverrides",
                                                                        "exclusions"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "policySettings": {
                                                        "properties": {
                                                            "customBlockResponseBody": {},
                                                            "customBlockResponseStatusCode": {},
                                                            "enabledState": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "mode": {
                                                                "type": "string"
                                                            },
                                                            "redirectUrl": {},
                                                            "requestBodyCheck": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "provisioningState": {
                                                        "type": "string"
                                                    },
                                                    "resourceState": {
                                                        "type": "string"
                                                    },
                                                    "routingRuleLinks": {
                                                        "type": "array"
                                                    },
                                                    "securityPolicyLinks": {
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "id"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "sku": {
                                                "properties": {
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "tags": {
                                                "properties": {
                                                    "createddate": {
                                                        "type": "string"
                                                    },
                                                    "owner": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "runAfter": {
                                    "Get_WAF_Policy_Rules1": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Update_WAF_Policy": {
                                "type": "Http",
                                "inputs": {
                                    "uri": "https://management.azure.com@{items('For_each_WAF_Rule')?['properties']?['parameters']?['wafPolicy']?['id']}?api-version=2020-11-01",
                                    "method": "PUT",
                                    "body": {
                                        "id": "@{items('For_each_WAF_Rule')?['properties']?['parameters']?['wafPolicy']?['id']}",
                                        "location": "@{body('Parse_WAF_Policy_Rules1')?['location']}",
                                        "name": "@{body('Parse_WAF_Policy_Rules1')?['name']}",
                                        "properties": {
                                            "customRules": {
                                                "rules": "@outputs('Create_JSON_Rules_Object_from_Array')"
                                            },
                                            "managedRules": "@body('Parse_WAF_Policy_Rules1')?['properties']?['managedRules']",
                                            "policySettings": "@body('Parse_WAF_Policy_Rules1')?['properties']?['policySettings']"
                                        },
                                        "sku": {
                                            "name": "@{body('Parse_WAF_Policy_Rules1')?['sku']?['name']}"
                                        },
                                        "type": "@{body('Parse_WAF_Policy_Rules1')?['type']}"
                                    },
                                    "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "identity": "/subscriptions/df73fe16-2740-447b-920a-1138d6c764b2/resourceGroups/CentralResources/providers/Microsoft.ManagedIdentity/userAssignedIdentities/MI-SOAR-WAF",
                                        "audience": ""
                                    }
                                },
                                "runAfter": {
                                    "Create_JSON_Rules_Object_from_Array": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "runAfter": {
                            "Parse_Front_Door": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "concurrency": {
                                "repetitions": 1
                            }
                        }
                    },
                    "Get_Front_Door": {
                        "type": "Http",
                        "inputs": {
                            "uri": "https://management.azure.com@{variables('ResourceID2')}/securityPolicies?api-version=2021-06-01",
                            "method": "GET",
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "identity": "/subscriptions/df73fe16-2740-447b-920a-1138d6c764b2/resourceGroups/CentralResources/providers/Microsoft.ManagedIdentity/userAssignedIdentities/MI-SOAR-WAF",
                                "audience": ""
                            }
                        }
                    },
                    "Parse_Front_Door": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('Get_Front_Door')",
                            "schema": {
                                "properties": {
                                    "value": {
                                        "items": {
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "properties": {
                                                    "properties": {
                                                        "deploymentStatus": {
                                                            "type": "string"
                                                        },
                                                        "parameters": {
                                                            "properties": {
                                                                "associations": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "domains": {
                                                                                "items": {
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "isActive": {
                                                                                            "type": "boolean"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "isActive",
                                                                                        "id"
                                                                                    ],
                                                                                    "type": "object"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "patternsToMatch": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "domains",
                                                                            "patternsToMatch"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "wafPolicy": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "provisioningState": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "type",
                                                "name",
                                                "properties"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Get_Front_Door": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Compose": {
                            "type": "Compose",
                            "inputs": "@variables('Rules')",
                            "runAfter": {
                                "Condition_4": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Condition_4": {
                            "type": "If",
                            "expression": {
                                "and": [
                                    {
                                        "contains": [
                                            "@string(variables('Rules'))",
                                            "JSChallenge"
                                        ]
                                    }
                                ]
                            },
                            "actions": {},
                            "else": {
                                "actions": {
                                    "Append_to_array_variable_2": {
                                        "type": "AppendToArrayVariable",
                                        "inputs": {
                                            "name": "Rules",
                                            "value": {
                                                "action": "JSChallenge",
                                                "matchConditions": [
                                                    {
                                                        "matchValues": "@variables('MatchValue')",
                                                        "matchVariables": [
                                                            {
                                                                "variableName": "RemoteAddr"
                                                            }
                                                        ],
                                                        "negationConditon": false,
                                                        "operator": "RequestUri",
                                                        "transforms": []
                                                    }
                                                ],
                                                "name": "JSChallenge",
                                                "priority": "@variables('Priority')",
                                                "ruleType": "MatchRule"
                                            }
                                        },
                                        "runAfter": {
                                            "For_each_4": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "For_each_4": {
                                        "type": "Foreach",
                                        "foreach": "@body('Parse_Entities')",
                                        "actions": {
                                            "Append_to_array_variable_4": {
                                                "type": "AppendToArrayVariable",
                                                "inputs": {
                                                    "name": "MatchValue",
                                                    "value": "@items('For_each_4')?['Address']"
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "For_each_7": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "For_each_7": {
                                        "type": "Foreach",
                                        "foreach": "@body('Parse_AppGW_Policy')?['properties']?['customRules']",
                                        "actions": {
                                            "For_each_6": {
                                                "type": "Foreach",
                                                "foreach": "@items('For_each_7')?['matchConditions']",
                                                "actions": {
                                                    "Set_variable": {
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "MatchValue",
                                                            "value": "@items('For_each_6')?['matchValues']"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "Until": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Until": {
                                        "type": "Until",
                                        "expression": "@not(contains(variables('Rules'), variables('Priority')))",
                                        "limit": {
                                            "count": 60,
                                            "timeout": "PT1H"
                                        },
                                        "actions": {
                                            "Increment_variable": {
                                                "type": "IncrementVariable",
                                                "inputs": {
                                                    "name": "Priority",
                                                    "value": 5
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "For_each": {
                            "type": "Foreach",
                            "foreach": "@body('Parse_AppGW_Policy')?['properties']?['customRules']",
                            "actions": {
                                "Check_for_Existing_JSChallenge_Rule": {
                                    "type": "If",
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each')?['name']",
                                                    "JSChallenge"
                                                ]
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "For_each_2": {
                                            "type": "Foreach",
                                            "foreach": "@items('For_each')['matchConditions']",
                                            "actions": {
                                                "Append_to_array_variable_3": {
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "Rules",
                                                        "value": {
                                                            "action": "@{items('For_each')?['action']}",
                                                            "matchConditions": [
                                                                {
                                                                    "matchValues": "@variables('MatchValue-NoDuplicate')",
                                                                    "matchVariables": [
                                                                        {
                                                                            "variableName": "RemoteAddr"
                                                                        }
                                                                    ],
                                                                    "negationConditon": false,
                                                                    "operator": "IPMatch",
                                                                    "transforms": []
                                                                }
                                                            ],
                                                            "name": "@{items('For_each')?['name']}",
                                                            "priority": "@items('For_each')?['priority']",
                                                            "ruleType": "@{items('For_each')?['ruleType']}"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Set_variable_5": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "For_each_3": {
                                                    "type": "Foreach",
                                                    "foreach": "@body('Parse_Entities')",
                                                    "actions": {
                                                        "Append_to_array_variable_6": {
                                                            "type": "AppendToArrayVariable",
                                                            "inputs": {
                                                                "name": "MatchValue",
                                                                "value": "@items('For_each_3')?['Address']"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Set_variable_4": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "Set_variable_4": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "MatchValue",
                                                        "value": "@items('For_each_2')?['matchValues']"
                                                    }
                                                },
                                                "Set_variable_5": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "MatchValue-NoDuplicate",
                                                        "value": "@union(variables('MatchValue'),variables('MatchValue'))"
                                                    },
                                                    "runAfter": {
                                                        "For_each_3": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {
                                            "Append_to_array_variable": {
                                                "type": "AppendToArrayVariable",
                                                "inputs": {
                                                    "name": "Rules",
                                                    "value": {
                                                        "action": "@{items('For_each')?['action']}",
                                                        "matchConditions": "@items('For_each')?['matchConditions']",
                                                        "name": "@{items('For_each')?['name']}",
                                                        "priority": "@items('For_each')?['priority']",
                                                        "ruleType": "@{items('For_each')?['ruleType']}"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_AppGW_Policy": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Get_AppGW_WAF_Policy": {
                            "type": "Http",
                            "inputs": {
                                "uri": "https://management.azure.com@{body('Parse_App_Gateway')?['properties']?['firewallPolicy']?['id']}?api-version=2020-05-01",
                                "method": "GET",
                                "authentication": {
                                    "type": "ManagedServiceIdentity",
                                    "identity": "/subscriptions/df73fe16-2740-447b-920a-1138d6c764b2/resourceGroups/CentralResources/providers/Microsoft.ManagedIdentity/userAssignedIdentities/MI-SOAR-WAF",
                                    "audience": ""
                                }
                            },
                            "runAfter": {
                                "Parse_App_Gateway": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Get_App_Gateway": {
                            "type": "Http",
                            "inputs": {
                                "uri": "https://management.azure.com@{variables('ResourceID1')}?api-version=2020-05-01",
                                "method": "GET",
                                "authentication": {
                                    "type": "ManagedServiceIdentity",
                                    "identity": "/subscriptions/df73fe16-2740-447b-920a-1138d6c764b2/resourceGroups/CentralResources/providers/Microsoft.ManagedIdentity/userAssignedIdentities/MI-SOAR-WAF",
                                    "audience": ""
                                }
                            }
                        },
                        "HTTP": {
                            "type": "Http",
                            "inputs": {
                                "uri": "https://management.azure.com@{body('Parse_App_Gateway')?['properties']?['firewallPolicy']?['id']}?api-version=2020-05-01",
                                "method": "PUT",
                                "body": {
                                    "id": "@body('Parse_AppGW_Policy')?['id']",
                                    "location": "@body('Parse_AppGW_Policy')?['location']",
                                    "name": "@body('Parse_AppGW_Policy')?['name']",
                                    "properties": {
                                        "applicationGateways": "@body('Parse_AppGW_Policy')?['properties']?['applicationGateways']",
                                        "customRules": "@outputs('Compose')",
                                        "managedRules": "@body('Parse_AppGW_Policy')?['properties']?['managedRules']",
                                        "policySettings": "@body('Parse_AppGW_Policy')?['properties']?['policySettings']"
                                    },
                                    "type": "@body('Parse_AppGW_Policy')?['type']"
                                },
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                }
                            },
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Parse_AppGW_Policy": {
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get_AppGW_WAF_Policy')",
                                "schema": {
                                    "properties": {
                                        "etag": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "location": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "properties": {
                                            "properties": {
                                                "applicationGateways": {
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "customRules": {
                                                    "items": {
                                                        "properties": {
                                                            "action": {
                                                                "type": "string"
                                                            },
                                                            "matchConditions": {
                                                                "items": {
                                                                    "properties": {
                                                                        "matchValues": {
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "matchVariables": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "variableName": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "variableName"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "negationConditon": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "operator": {
                                                                            "type": "string"
                                                                        },
                                                                        "transforms": {
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "matchVariables",
                                                                        "operator",
                                                                        "negationConditon",
                                                                        "matchValues",
                                                                        "transforms"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "priority": {
                                                                "type": "integer"
                                                            },
                                                            "ruleType": {
                                                                "type": "string"
                                                            },
                                                            "skippedManagedRuleSets": {
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "priority",
                                                            "ruleType",
                                                            "action",
                                                            "matchConditions",
                                                            "skippedManagedRuleSets"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "managedRules": {
                                                    "properties": {
                                                        "exclusions": {
                                                            "type": "array"
                                                        },
                                                        "managedRuleSets": {
                                                            "items": {
                                                                "properties": {
                                                                    "ruleGroupOverrides": {
                                                                        "type": "array"
                                                                    },
                                                                    "ruleSetType": {
                                                                        "type": "string"
                                                                    },
                                                                    "ruleSetVersion": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "ruleSetType",
                                                                    "ruleSetVersion",
                                                                    "ruleGroupOverrides"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "policySettings": {
                                                    "properties": {
                                                        "fileUploadLimitInMb": {
                                                            "type": "integer"
                                                        },
                                                        "maxRequestBodySizeInKb": {
                                                            "type": "integer"
                                                        },
                                                        "mode": {
                                                            "type": "string"
                                                        },
                                                        "requestBodyCheck": {
                                                            "type": "boolean"
                                                        },
                                                        "state": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "provisioningState": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "Get_AppGW_WAF_Policy": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Parse_App_Gateway": {
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get_App_Gateway')",
                                "schema": {
                                    "properties": {
                                        "etag": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "location": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "properties": {
                                            "properties": {
                                                "backendAddressPools": {
                                                    "items": {
                                                        "properties": {
                                                            "etag": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "backendAddresses": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "fqdn": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "fqdn"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "provisioningState": {
                                                                        "type": "string"
                                                                    },
                                                                    "requestRoutingRules": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "id": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "id"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "id",
                                                            "etag",
                                                            "properties",
                                                            "type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "backendHttpSettingsCollection": {
                                                    "items": {
                                                        "properties": {
                                                            "etag": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "cookieBasedAffinity": {
                                                                        "type": "string"
                                                                    },
                                                                    "path": {},
                                                                    "pickHostNameFromBackendAddress": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "port": {
                                                                        "type": "integer"
                                                                    },
                                                                    "probe": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "protocol": {
                                                                        "type": "string"
                                                                    },
                                                                    "provisioningState": {
                                                                        "type": "string"
                                                                    },
                                                                    "requestRoutingRules": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "id": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "id"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "requestTimeout": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "id",
                                                            "etag",
                                                            "properties",
                                                            "type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "enableHttp2": {
                                                    "type": "boolean"
                                                },
                                                "firewallPolicy": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "frontendIPConfigurations": {
                                                    "items": {
                                                        "properties": {
                                                            "etag": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "httpListeners": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "id": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "id"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "privateIPAllocationMethod": {
                                                                        "type": "string"
                                                                    },
                                                                    "provisioningState": {
                                                                        "type": "string"
                                                                    },
                                                                    "publicIPAddress": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "id",
                                                            "etag",
                                                            "type",
                                                            "properties"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "frontendPorts": {
                                                    "items": {
                                                        "properties": {
                                                            "etag": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "httpListeners": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "id": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "id"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "port": {
                                                                        "type": "integer"
                                                                    },
                                                                    "provisioningState": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "id",
                                                            "etag",
                                                            "properties",
                                                            "type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "gatewayIPConfigurations": {
                                                    "items": {
                                                        "properties": {
                                                            "etag": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "provisioningState": {
                                                                        "type": "string"
                                                                    },
                                                                    "subnet": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "id",
                                                            "etag",
                                                            "properties",
                                                            "type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "httpListeners": {
                                                    "items": {
                                                        "properties": {
                                                            "etag": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "frontendIPConfiguration": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "frontendPort": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "hostNames": {
                                                                        "type": "array"
                                                                    },
                                                                    "protocol": {
                                                                        "type": "string"
                                                                    },
                                                                    "provisioningState": {
                                                                        "type": "string"
                                                                    },
                                                                    "requestRoutingRules": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "id": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "id"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "requireServerNameIndication": {
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "id",
                                                            "etag",
                                                            "properties",
                                                            "type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "loadDistributionPolicies": {
                                                    "type": "array"
                                                },
                                                "operationalState": {
                                                    "type": "string"
                                                },
                                                "privateEndpointConnections": {
                                                    "type": "array"
                                                },
                                                "privateLinkConfigurations": {
                                                    "type": "array"
                                                },
                                                "probes": {
                                                    "items": {
                                                        "properties": {
                                                            "etag": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "backendHttpSettings": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "id": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "id"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "interval": {
                                                                        "type": "integer"
                                                                    },
                                                                    "match": {
                                                                        "properties": {},
                                                                        "type": "object"
                                                                    },
                                                                    "minServers": {
                                                                        "type": "integer"
                                                                    },
                                                                    "path": {
                                                                        "type": "string"
                                                                    },
                                                                    "pickHostNameFromBackendHttpSettings": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "protocol": {
                                                                        "type": "string"
                                                                    },
                                                                    "provisioningState": {
                                                                        "type": "string"
                                                                    },
                                                                    "timeout": {
                                                                        "type": "integer"
                                                                    },
                                                                    "unhealthyThreshold": {
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "id",
                                                            "etag",
                                                            "properties",
                                                            "type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "provisioningState": {
                                                    "type": "string"
                                                },
                                                "redirectConfigurations": {
                                                    "type": "array"
                                                },
                                                "requestRoutingRules": {
                                                    "items": {
                                                        "properties": {
                                                            "etag": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "backendAddressPool": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "backendHttpSettings": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "httpListener": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "provisioningState": {
                                                                        "type": "string"
                                                                    },
                                                                    "rewriteRuleSet": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "ruleType": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "id",
                                                            "etag",
                                                            "properties",
                                                            "type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "resourceGuid": {
                                                    "type": "string"
                                                },
                                                "rewriteRuleSets": {
                                                    "items": {
                                                        "properties": {
                                                            "etag": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "provisioningState": {
                                                                        "type": "string"
                                                                    },
                                                                    "requestRoutingRules": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "id": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "id"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "rewriteRules": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "actionSet": {
                                                                                    "properties": {
                                                                                        "requestHeaderConfigurations": {
                                                                                            "items": {
                                                                                                "properties": {
                                                                                                    "headerName": {
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "headerValue": {
                                                                                                        "type": "string"
                                                                                                    }
                                                                                                },
                                                                                                "required": [
                                                                                                    "headerName",
                                                                                                    "headerValue"
                                                                                                ],
                                                                                                "type": "object"
                                                                                            },
                                                                                            "type": "array"
                                                                                        },
                                                                                        "responseHeaderConfigurations": {
                                                                                            "type": "array"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "conditions": {
                                                                                    "type": "array"
                                                                                },
                                                                                "name": {
                                                                                    "type": "string"
                                                                                },
                                                                                "ruleSequence": {
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "ruleSequence",
                                                                                "conditions",
                                                                                "name",
                                                                                "actionSet"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "id",
                                                            "etag",
                                                            "properties",
                                                            "type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "sku": {
                                                    "properties": {
                                                        "capacity": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "tier": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "sslCertificates": {
                                                    "type": "array"
                                                },
                                                "sslProfiles": {
                                                    "type": "array"
                                                },
                                                "trustedClientCertificates": {
                                                    "type": "array"
                                                },
                                                "trustedRootCertificates": {
                                                    "type": "array"
                                                },
                                                "urlPathMaps": {
                                                    "type": "array"
                                                },
                                                "webApplicationFirewallConfiguration": {
                                                    "properties": {
                                                        "disabledRuleGroups": {
                                                            "type": "array"
                                                        },
                                                        "enabled": {
                                                            "type": "boolean"
                                                        },
                                                        "exclusions": {
                                                            "type": "array"
                                                        },
                                                        "fileUploadLimitInMb": {
                                                            "type": "integer"
                                                        },
                                                        "firewallMode": {
                                                            "type": "string"
                                                        },
                                                        "maxRequestBodySizeInKb": {
                                                            "type": "integer"
                                                        },
                                                        "requestBodyCheck": {
                                                            "type": "boolean"
                                                        },
                                                        "ruleSetType": {
                                                            "type": "string"
                                                        },
                                                        "ruleSetVersion": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "tags": {
                                            "properties": {},
                                            "type": "object"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "Get_App_Gateway": [
                                    "Succeeded"
                                ]
                            }
                        }
                    }
                },
                "runAfter": {
                    "Set_Variables_from_Entities": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_AnomalousRequestUri_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "AnomalousRequestUri",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_ResourceID2_variable": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_MatchValue_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "MatchValue",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Priority_variable": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_Priority_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Priority",
                            "type": "integer",
                            "value": 5
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Rules_variable": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_ResourceID1_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "ResourceID1",
                            "type": "string",
                            "value": "/subscriptions/df73fe16-2740-447b-920a-1138d6c764b2/resourceGroups/hub-rg/providers/Microsoft.Network/applicationGateways/AppGwPublic"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Initialize_ResourceID2_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "ResourceID2",
                            "type": "string",
                            "value": "/subscriptions/df73fe16-2740-447b-920a-1138d6c764b2/resourceGroups/hub-rg/providers/Microsoft.Cdn/profiles/AFD01"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_ResourceID1_variable": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_Rules_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Rules",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_AnomalousRequestUri_variable": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "MatchValue-NoDuplicate",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_MatchValue_variable": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_Entities": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()?['Entities']",
                    "schema": {
                        "items": {
                            "properties": {
                                "$id": {
                                    "type": "string"
                                },
                                "Address": {
                                    "type": "string"
                                },
                                "DnsDomain": {
                                    "type": "string"
                                },
                                "HostName": {
                                    "type": "string"
                                },
                                "Type": {
                                    "type": "string"
                                },
                                "Url": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "$id",
                                "Type"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                }
            },
            "Set_Variables_from_Entities": {
                "type": "Foreach",
                "foreach": "@body('Parse_Entities')",
                "actions": {
                    "Condition": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@items('Set_Variables_from_Entities')['Type']",
                                        "host"
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Set_variable_2": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "ResourceID1",
                                    "value": "@items('Set_Variables_from_Entities')?['HostName']"
                                }
                            },
                            "Set_variable_3": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "ResourceID2",
                                    "value": "@items('Set_Variables_from_Entities')?['DnsDomain']"
                                },
                                "runAfter": {
                                    "Set_variable_2": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "else": {
                            "actions": {
                                "Condition_2": {
                                    "type": "If",
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('Set_Variables_from_Entities')['Type']",
                                                    "url"
                                                ]
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "Append_to_AnomalousRequestUri_array": {
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "AnomalousRequestUri",
                                                "value": "@first(split(item()?['Url'],'?'))"
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {}
                                    }
                                }
                            }
                        }
                    }
                },
                "runAfter": {
                    "Parse_Entities": [
                        "Succeeded"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azuresentinel": {
                    "id": "/subscriptions/df73fe16-2740-447b-920a-1138d6c764b2/providers/Microsoft.Web/locations/northeurope/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/df73fe16-2740-447b-920a-1138d6c764b2/resourceGroups/CentralResources/providers/Microsoft.Web/connections/azuresentinel-Block-IPAzureWAF-Orig",
                    "connectionName": "azuresentinel-Block-IPAzureWAF-Orig"
                }
            }
        }
    }
}